// -*- coding: utf-8 -*-

// ==================================================
//   Body
// ==================================================

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: $bg-main-color;
  color: $text-main-color;
  font-size: $font-size-base;
  font-family: $font-family-base;
  font-style: normal;
  font-weight: normal;
}


// ==================================================
//   Site Section
// ==================================================

@mixin siteSection($padTop, $padBottom) {
  @include box-sizing(border-box);
  width: 100%;
  padding: $padTop $space-large $padBottom;
  background-color: $bg-sub-color;

  a {
    color: $link-color;
    @include transition($transition-base);

    &:hover {
      color: $link-hover-color;
    }
  }
}