// -*- coding: utf-8 -*-

// ==================================================
//   Colors
// ==================================================

// Gray
$gray-lighter: #fff;
$gray-light: #aaa;
$gray: #888;
$gray-dark: #333;
$gray-darker: #111;

// Green
$green-lighter: #efc;
$green-light: #cd3;
$green: #ab1;
$green-dark: #aebf11;

// Purple
$purple-light: #879;
$purple: #657;
$purple-dark: #324;
$purple-red: #d46;