// -*- coding: utf-8 -*-

// ==================================================
//   Resets
// ==================================================

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
section,
nav,
aside,
header,
footer,
hgroup,
img {
  display: block;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}
